<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="person" class="beans.Person">
        <property name="name" value="Tom"/>
        <property name="age" value="18"/>
        <property name="phone" ref="phone"/>
    </bean>

    <bean id="phone" class="beans.Phone">
        <property name="brand" value="IPhone"/>
    </bean>

    <bean class="common.CustomerBeanPostProcessor"/>
    <bean class="common.CustomBeanFactoryPostProcessor"/>

</beans>